<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is a page where you land after you log in. Cool right, now click the links in the navigation bar to explore the forum.</p>
  </div>

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
