<div id="edit">
    <div class="container">
      <h3>Create a post</h3>
      <form method="post" action="/post/create">
        <input type="hidden" name="_csrf" value="<%- _csrf %>" />
        <h3>Title</h3>
        <input type="text" name="title">
        <h5>Post</h5>
        <textarea name="body" cols="30" rows="10"></textarea>
        <h5>Publish?</h5>
        <input type="checkbox" name="published" value=true>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
