<div id="drivers">
  <div class="container">
    <h1>Drivers of the 2019 season</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <table>
        <thead>
          <td>Name</td>
          <td>Nationality</td>
          <td>Code</td>
        </thead>
        <% drivers.forEach(function(driver){ %>
          <tr>
            <td><%= driver.givenName + ' ' + driver.familyName %></td>
            <td><%= driver.nationality %></td>
            <td><%= driver.code %></td>
          </tr>
        <% }) %>
      </table>
      <form>
        <input type="text" name="name" placeholder="Name of driver"/>
        <input type="submit" value="Click here to search"/>
      </form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
